@charset "UTF-8";
@font-face {
    font-family: 'Fontelogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dddddd;
}

div#interface {
    width: 900px;
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px
}

.paragrafo {
    text-align: justify;
    text-indent: 50px;
}

a {
    color: #606060;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*cabeçalho*/
img#icone {
    position: absolute;
    left: 950px;
    top: 50px;
}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url(../_imagens/glass-logo-peq.jpg) no-repeat 0px 90px;
}

#cabecalho h1 {
    font-family: 'Fontelogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding: 0px;
    margin-bottom: 0px;
}

#cabecalho h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 0px;
}

/*Formatação de foto legenda*/
figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda {
    width: auto;
    height: auto;
    margin: auto;
}

.Glass-Quadro {
    width: 435px;
}

figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgb(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
    opacity: 100%;
}

/*Formatação de Menu*/
nav#Menu {
    display: block;
}

nav#Menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 500px;
}

nav#Menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#Menu li:hover {
    background-color: #606060;
}

nav#Menu h1 {
    display: none;
}

nav#Menu a {
    color: black;
    text-decoration: none;
}

nav#Menu a:hover {
    color: white;
    text-decoration: underline;
}

section#corpo {
    display: block;
    width: 475px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
}

article#noticia-principal h2 {
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1 {
    font-family: 'Fontelogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}

header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
}

header#cabecalho-artigo h3 {
    font-size: 12px;
    color: #606060;
}

.direita {
    text-align: right;
}

table.tabela-spec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table.tabela-spec td {
    border: 1px solid #606060;
    padding: 10px;
}

video#lateral-esquerda {
    width: 470px;
    padding: 3px;
}

video#lateral-direita {
    padding: 3px;
}

td.coluna-esquerda {
    color: white;
    background-color: #606060;
    vertical-align: top;
    text-align: right;
    font-weight: bold;
}

td.coluna-direita {
    background-color: #cecece;
    text-align: left;
}

table.tabela-spec caption {
    color: #888888;
    font-size: 13pt;
    font-weight: bold;
}

span.data-tabela {
    display: block;
    float: right;
    color: #000000;
    font-size: 8pt;
    margin-top: 10px;
}

aside#Lateral {
    display: block;
    width: 400px;
    float: right;
    background-color: #dddddd;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

aside#Lateral h1 {
    font-family: 'Fontelogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}

aside#Lateral h2 {
    background-color: #606060;
    font-size: 13pt;
    color: #ffffff;
    padding: 5px;
}

footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p {
    text-align: center;
    text-align: justify none;
    
}